*{
	margin：0px;
	padding: 0px;
	box-sizing: border-box;

}
.container{
	position: relative;
	width: 550px; height: 630px;
	margin: auto;
}
.hor_nums_div{
	position: absolute;
	width:500px;
	height:48px;
	left:50px;
}
.ver_nums_div{
	position: absolute;
	width:48px;
	height:500px;
	top:50px;

}
.cell{
	width: 48px; height: 48px;
    text-align: center;
}

table.hor_nums{
	position: absolute;
	width:500px; height:50px;
	border:0px;
}
table.ver_nums{
	position: absolute;
	width:50px; height:500px;
	border:0px;
}
.grid{
	position: absolute;
	width:500px; height:500px;
	right:0px;
	top: 50px;

}
table.chessboard {
	width:500px;
	height:500px;
    background: #fff;
    border: 3px solid #000;
    border-collapse: collapse;
    table-layout:fixed;
}
td.chessboard {
    width:50px; height: 50px;
    border: 1px solid #ccc; 
    word-break:break-all;
    overflow: hidden;
}
#smartcell{
	position: absolute;
	top:253px;
	left:253px;
	width:48px;height:48px;
	background-color: blue;
	/*实现动画效果*/
	-webkit-transition: 0.7s;/*浏览器前缀，兼容其他浏览器 chrome*/
	       -moz-transition: 0.7s;/*firefox*/
	        -ms-transition: 0.7s;/*ie*/
	         -o-transition: 0.7s;/*opera*/
	            transition: 0.7s;
	            /*实现动画效果*/
}
#s1{
	position: relative;
	float:top;
	width:48px;height:15px;
	background-color: red;

	-webkit-transition: 0.3s;/*浏览器前缀，兼容其他浏览器 chrome*/
	       -moz-transition: 0.3s;/*firefox*/
	        -ms-transition: 0.3s;/*ie*/
	         -o-transition: 0.3s;/*opera*/
	            transition: 0.3s;		
}
.delay{
	
}
.control{
	position: absolute;
	width:500px;
	height:80px;
	right:0px;
	bottom: 0px;
	border:1px dotted red;
}
.btn1{
	position: relative;
	top:2px;
	display: inline;
	width:100px;
	height:30px;
	margin:2px 5px;
}
button{
	color:#ffffff;
	background-color: #0088aa;
	border-radius: 3px;
	border:1px solid blue;
}
